<!--Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Hydroponic</title>
  </head>
  <body>

    <div class="banner-two">
    </div>
    <!--banner end here-->
    <!--services start here-->
    <div class="services">
      <div class="container">
        <!-- User avatar -->
        <div class="row">
          <div class="col-sm-2 col-md-2 col-md-offset-6 col-sm-offset-6">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-3 col-md-3">
            <blockquote>
              <p>Bruce Wayne</p>
              <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p>
              <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
              <br>
              <i class="glyphicon glyphicon-gift"></i> January 30, 1974
              <br>
              <i class="glyphicon glyphicon-phone"></i> 0123456789
            </p>
            </p>
          </div>
          <button class="btn btn-1 btn-primary btn-customize col-md-offset-10 col-sm-offset-10" type="button" data-toggle="modal" data-target="#editModal">Edit</button>

        </div>

          <!-- Edit user profile modal -->
          <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Edit profile</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <label for="username" class="col-md-4 col-sm-4">Name:</label>
                        <input id="username" class="col-md-7 col-sm-7" type="text" name="username"/>
                    </div>
                      <br>
                    <div class="row">
                        <label for="address" class="col-md-4 col-sm-4">Address:</label>
                        <input id="address" class="col-md-7 col-sm-7" type="text" name="address"/>
                    </div>
                      <br>
                    <div class="row">
                        <label for="email" class="col-md-4 col-sm-4">Email:</label>
                        <input id="email" class="col-md-7 col-sm-7" type="text" name="email"/>
                    </div>
                      <br>
                    <div class="row">
                        <label for="phonenumber" class="col-md-4 col-sm-4">Phone number:</label>
                        <input id="phonenumber" class="col-md-7 col-sm-7" type="text" name="phonenumber"/>
                    </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-1 btn-primary">OK</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

        <br>
        <div class="row table-of-devices">
          <h3 class="">Table of Devices</h3>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
            <button type="button" class="btn btn-1 btn-primary btn-customize" data-toggle="modal" data-target="#addDeviceModal">Add new device</button>

            <table class="table table-hover table-customize">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Installation Date</th>
                  <th>Status</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="device-detail.html">1003</a></td>
                  <td>Potato</td>
                  <td>12/10/2017</td>
                  <td>Running</td>
                  <td><a href="#"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">1004</a></td>
                  <td>Tomato</td>
                  <td>23/1/2016</td>
                  <td>Stopped</td>
                  <td><a href="#"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">1005</a></td>
                  <td>Carrot</td>
                  <td>23/5/2016</td>
                  <td>No connection</td>
                  <td><a href="#"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Add device modal -->
        <div class="modal fade" id="addDeviceModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">

                  <div class="row">
                      <label for="username" class="col-md-4 col-sm-4">Name:</label>
                      <input id="username" class="col-md-7 col-sm-7" type="text" name="username"/>
                  </div>
                    <br>
                  <div class="row">
                      <label for="address" class="col-md-4 col-sm-4">Address:</label>
                      <input id="address" class="col-md-7 col-sm-7" type="text" name="address"/>
                  </div>
                    <br>
                  <div class="row">
                      <label for="email" class="col-md-4 col-sm-4">Email:</label>
                      <input id="email" class="col-md-7 col-sm-7" type="text" name="email"/>
                  </div>
                    <br>
                  <div class="row">
                      <label for="phonenumber" class="col-md-4 col-sm-4">Phone number:</label>
                      <input id="phonenumber" class="col-md-7 col-sm-7" type="text" name="phonenumber"/>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-1 btn-primary">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!--services end here-->

  </body>
</html>
